@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'font-geist';
    src: url('/fonts/Geist-UltraLight.woff2') format('woff2');
  }
  
  @layer base {
    html {
      margin: 0;
      font-family: "font-geist", system-ui, sans-serif;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
  }